.gist {
  margin-top: 2px;
}

.span5 hr {
  width: 100%;
}

td {
  max-width: 400px;
}

.doc-table-header {
  font-weight: bold;
  font-style: italic;
}

@media (max-width: 768px) {
  .row-fluid .span1 {
    display: none;
  }
}

@media (min-width: 979px) {
  body {
    padding-top: 60px;
  }
}