/* The menu is static, push down the content under it */

body {
  padding-top: 60px;
}

/* Table cells on docs.php */

td {
  max-width: 400px;
}

td.doc-table-header {
  font-weight: bold;
  font-style: italic;
}

/* FAQ styles */
.question {
  font-weight: bold;
}

/* Footer */

#footer {
  margin: 12px 0;
}

a[rel=license] {
  margin-right: 12px;
}

/* Hide the "result =>" div on the start page on smaller sizes */

@media (max-width: 768px) {
  .row-fluid .span1 {
    display: none !important;
  }
}