body {
	padding-top: 60px;
}

.gist {
	margin-top: 19px;
}

.span5 hr {
	width: 100%;
}

/* ========== BootyCal calendar styles ========== */

table.booty {
	border-collapse: separate;
	border-radius: 0 0 5px 5px;
	border-spacing: 0;
	border: #ccc 1px solid;
	border-top: 0;
	color: #aaa;
	font-size: 15px;
	padding: 5px;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}

table.booty + table.booty {
	margin-top: 20px;
}

table.booty caption {
	background: #efefef;
	border-radius: 5px 5px 0 0;
	border: #ccc 1px solid;
	border-bottom: 0;
	color: #555;
	padding: 10px 5px;
	width: 100%;
}

table.booty tr:hover td {
	background: #fafafa;
	color: #888;
}

table.booty th {
	color: #888;
	font-weight: normal;
	padding: 5px;
}

table.booty tr td:hover {
	background: white;
	color: #555;
}

table.booty td:empty:hover {
	background: #fafafa;
}

table.booty td {
	border: #ddd 1px solid;
	border-bottom: 0;
	border-right: 0;
	line-height: 2.5;
	padding: 10px 5px;
}

table.booty tr td:last-child {
	border-right: #ddd 1px solid;
}

table.booty tr:last-child td {
	border-bottom: #ddd 1px solid;
}

table.booty td a {
	background: #e2f1ff;
	color: #0079e4;
	display: block;
	margin: -10px -5px;
	padding: 10px 0;
	text-decoration: none;
}

table.booty td a:hover {
	text-decoration: underline;
}